:root {
    /* Change this to change the appearance of the hexagons */
    --hex-width: 100px; 
    --hex-between: 10px;
    
    /* Other hexagon dimentions */
    --hex-height: calc(var(--hex-width) / 1.73 /* sqrt(3) */);
    --hex-margin: calc(var(--hex-width) / 2);
    --hex-border: calc(var(--hex-margin) / 1.73 /* sqrt(3) */);
    --hex-transition: all .2s ease;
  }
  
  /* Hexagons */
  .hexagon-container {
    display: grid;
    grid-template-columns: repeat(3, var(--hex-width));
    grid-auto-rows: calc(var(--hex-width) - 28.87px/2);
    grid-gap: var(--hex-between) var(--hex-between);
    padding-bottom: var(--hex-border);
  }
  .hexagon {
    align-items: center;
    background-color: var(--color-hex-default);
    cursor: pointer;
    display: flex;
    fill: white;
    height: var(--hex-height);
    justify-content: center;
    margin: var(--hex-border) 0;
    position: relative;
    transition: var(--hex-transition);
    width: var(--hex-width);
  }

  .hexagon > h1,
  .hexagon > h2,
  .hexagon > h3,
  .hexagon > h4,
  .hexagon > h5 {
    opacity: 0;
    height: 0;
    width: 0;
    overflow: hidden;
    transition: var(--hex-transition);
  }
  .hexagon:hover > h1,
  .hexagon:hover > h2,
  .hexagon:hover > h3,
  .hexagon:hover > h4,
  .hexagon:hover > h5 {
    opacity: 1;
    height: auto;
    width: auto;
  }
  
  .hexagon::after,
  .hexagon::before {
    border-left: var(--hex-margin) solid transparent;
    border-right: var(--hex-margin) solid transparent;
    content: "";
    left: 0;
    position: absolute;
    transition: var(--hex-transition);
    width: 0;
  }
  .hexagon::after {
    border-top: var(--hex-border) solid var(--color-hex-default);
    top: 100%;
    width: 0;
  }
  .hexagon::before {
    border-bottom: var(--hex-border) solid var(--color-hex-default);
    bottom: 100%;
  }
    
  .hexagon:hover {
    background-color: var(--color-hex-hover);
  }

  .hexagon:hover::after,
  .hexagon:hover::before {
    border-top-color: var(--color-hex-hover);
    border-bottom-color: var(--color-hex-hover);
    }
   
  .hexagon:nth-child(5n + 1),
  .hexagon:nth-child(5n + 2) {
    margin-left: calc(-1 * (var(--hex-width) / 2 + var(--hex-between) / 2));
  }

  .hexagon:nth-child(5n + 1) {
    grid-column-start: 2;
  }
  
  .hexagon > svg {
    height: 75%;
    transition: var(--hex-transition);
  }
  .hexagon:hover > svg {
    display: none;
  }
  
  /* Colors */
  .hexagon-color {
    background-color: var(--color-primary);
  }
  .hexagon-color::after,
  .hexagon-color::before {
    border-top-color: var(--color-primary);
    border-bottom-color: var(--color-primary);
  }
  .hexagon-color:hover {
    fill: var(--color-primary);
  }
  .hexagon-text {
    color: var(--color-primary);
  }