@import "colors.css";

/************
 * CSS to create an image into a hexagon
 ************/
.hexa, .hexa div {
    margin: 0 auto;
    transform-origin: 50% 50%;
    overflow: hidden;
}
.hexa div {
    width: 100%;
    height: 100%;
}
.hexa {
    transform: rotate(120deg);
}
.hex1 {
    transform: rotate(-60deg);
}
.hex2 {
    transform: rotate(-60deg);
}