:root {
    /* Change this to change the appearance of the hexagons */
    --hex-width: 100px; 
    --hex-between: 10px;
    
    /* Other hexagon dimentions */
    --hex-height: calc(var(--hex-width) / 1.73 /* sqrt(3) */);
    --hex-margin: calc(var(--hex-width) / 2);
    --hex-border: calc(var(--hex-margin) / 1.73 /* sqrt(3) */);
    --hex-transition: all .2s ease;
    
    /* Colors */
    --color-hex-default: #000000;
    --color-hex-hover:   #FFFFFF;
    --color-angular:     #DD0031;
    --color-atom:        #66595C;
    --color-bootstrap:   #563D7C;
    --color-circleci:    #343434;
    --color-css:         #1572B6;
    --color-git:         #F14E32;
    --color-gulp:        #DA4648;
    --color-haskell:     #5D4F85;
    --color-html:        #E34F26;
    --color-javascript:  #F7DF1E;
    --color-meteor:      #DE4F4F;
    --color-python:      #3776AB;
    --color-rails:       #CC0000;
    --color-sass:        #b05f5f;
    --color-vuejs:       #4FC08D;
    --color-webpack:     #8DD6F9;
  }
  
  /* Hexagons */
  .hexagon-container {
    display: grid;
    grid-template-columns: repeat(3, var(--hex-width));
    grid-auto-rows: calc(var(--hex-width) - 28.87px/2);
    grid-gap: var(--hex-between) var(--hex-between);
    padding-bottom: var(--hex-border);
  }
  .hexagon {
    align-items: center;
    background-color: var(--color-hex-default);
    cursor: pointer;
    display: flex;
    fill: white;
    height: var(--hex-height);
    justify-content: center;
    margin: var(--hex-border) 0;
    position: relative;
    transition: var(--hex-transition);
    width: var(--hex-width);
  }

  .hexagon > h1,
  .hexagon > h2,
  .hexagon > h3,
  .hexagon > h4,
  .hexagon > h5 {
    opacity: 0;
    height: 0;
    width: 0;
    overflow: hidden;
    transition: var(--hex-transition);
  }
  .hexagon:hover > h1,
  .hexagon:hover > h2,
  .hexagon:hover > h3,
  .hexagon:hover > h4,
  .hexagon:hover > h5 {
    opacity: 1;
    height: auto;
    width: auto;
  }
  
  .hexagon::after,
  .hexagon::before {
    border-left: var(--hex-margin) solid transparent;
    border-right: var(--hex-margin) solid transparent;
    content: "";
    left: 0;
    position: absolute;
    transition: var(--hex-transition);
    width: 0;
  }
  .hexagon::after {
    border-top: var(--hex-border) solid var(--color-hex-default);
    top: 100%;
    width: 0;
  }
  .hexagon::before {
    border-bottom: var(--hex-border) solid var(--color-hex-default);
    bottom: 100%;
  }
    
  .hexagon:hover {
    background-color: var(--color-hex-hover);
  }

  .hexagon:hover::after,
  .hexagon:hover::before {
    border-top-color: var(--color-hex-hover);
    border-bottom-color: var(--color-hex-hover);
    }
   
  .hexagon:nth-child(5n + 1),
  .hexagon:nth-child(5n + 2) {
    margin-left: calc(-1 * (var(--hex-width) / 2 + var(--hex-between) / 2));
  }

  .hexagon:nth-child(5n + 1) {
    grid-column-start: 2;
  }
  
  .hexagon > svg {
    height: 75%;
    transition: var(--hex-transition);
  }
  .hexagon:hover > svg {
    display: none;
  }
  
  /* Colors */
  .color-sass {
    background-color: var(--color-sass);
  }
  .color-sass::after,
  .color-sass::before {
    border-top-color: var(--color-sass);
    border-bottom-color: var(--color-sass);
  }
  .color-sass:hover {
    fill: var(--color-sass);
  }
  .sass-text {
    color: var(--color-sass);
  }