@import "colors.css";
@import "hexagon_grid.css";
@import "hexagon_items.css";
@import "hexagon_image.css";
@import "portfolio_content.css";

.navbar {
    background-color: var(--color-background);
}

.active {
    color: var(--color-tertiary) !important;
}

#home {
    height: calc(100vh);
    background-color: var(--color-background);
}

#name {
    color: var(--color-tertiary);
}

.foreground-text {
    color: var(--color-white)!important;
}

#callToAction:hover > i {
    transform: rotateZ(90deg);
    transition: all .2s ease;
}

#about {
    padding: 100px 0;
}

#portfolio {
    padding: 100px 0;
    background-color: var(--color-bg-light);
}

/* Bottom Triangle SVG CSS */
.triangle {
    position:absolute;
    top:100%;
    width:100%;
    height:40px;
    fill: var(--color-bg-light);
}

#contact {
    padding: 50px 0 100px 0;
}

footer {
    background-color: var(--color-background);
    padding: 50px 0;
    position: relative;
    text-align: center;
}

#backToTop-container {
    color: var(--color-white);
}

#backToTop {
    position: absolute;
    top: -20px; 
    left: 0; 
    right: 0;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background-color:var(--color-secondary);
}

#backToTop:hover {
    transform: scale(1.1);
    transition: all .2s ease;
}

.footer-icon {
    color: var(--color-white);
    padding: 0 10px;
}

.header-bar {
    width: 70px;
    height: 4px;
    background: var(--color-background);
}

.animated {
    /* Sets the opacity of animated elements to 0. This gets overridden when an animation is added during scrolling */
    opacity: 0;
}